div#navbar
  ul
    a(href="/").navbutton#home-btn HOME
    li.navbutton#about-btn ABOUT
    li.navbutton#press-btn PRESS
    //- a(href="/crew").navbutton FILMMAKERS
    //- a(href="/gallery").navbutton GALLERY
    //- a(href="/partners").navbutton PARTNERS
