doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		//- meta(name = "viewport" content = "initial-scale=1") 
		meta(name = "viewport" content = "width=device-width,initial-scale=1") 
		

		link(rel="stylesheet", type='text/css', 
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,700")
		link(rel="stylesheet", type='text/css', 
			href="https://fonts.googleapis.com/css?family=Economica:400,700")

		link(rel="stylesheet", type='text/css', 
			href="{{url_for('static',filename='css/reset.css')}}")
		link(rel="stylesheet", type='text/css', 
			href="{{url_for('static',filename='css/contact.css')}}")
		title Finding the Line

	body
		.title  HOW DO YOU FIND THE LINE BETWEEN PROGRESSION AND EXCESSIVE RISK?

		.stars
			| A ski film documentary starring Anna and Nat Segal
			.star-links
				a(href="http://www.annasegal.com") annasegal.com
				a(href="http://www.nataliesegal.com") nataliesegal.com

		.director Filmed and Directed by Bjarne Salen
			.director-link
				a(href="http://www.endlessflowfilms.com") endlessflowfilms.com

		.support
			| Interested in supporting the film? Email us at 
			.support-email findingtheline@gmail.com

		.mailing-list
			.prompt ENTER YOUR EMAIL TO STAY UPDATED:
			input(id="email-input", placeholder="Press Enter to submit.")
		script(src="{{url_for('static',filename='js/jquery.js')}}")
		script(src="{{url_for('static',filename='js/email.js')}}")