{% extends "_layout.html" %}

{% block head %}
link(rel="stylesheet", type='text/css', href="{{url_for('static',filename='css/gallery.css')}}")
{% endblock %}

{% block body %}
.panel#hero
    {% include "_navbar.html" %}

    .title
        h1 GALLERY
        .bar
.panel#content
{% endblock %}


{% block scripts %}
{% include "_navbar_js.html" %}
{% endblock %}