doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        //- meta(name = "viewport" content = "initial-scale=1") 
        meta(name = "viewport" content = "width=device-width,initial-scale=1") 
        meta(property="og:image" content="http://findingthelinefilm.com/static/img/thumbnail-image.jpg")
        meta(property="og:title" content="Finding The Line Film")
        meta(property="og:description" content="How do you find the line between progression and excessive risk?")

        link(rel="stylesheet", type='text/css', 
            href="https://fonts.googleapis.com/css?family=Roboto:400,700")
        link(rel="stylesheet", type='text/css', 
            href="https://fonts.googleapis.com/css?family=Economica:400,700")

        link(rel="stylesheet", type='text/css', 
            href="{{url_for('static',filename='css/reset.css')}}")
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('static',filename='css/landing.css')}}")
        title Finding the Line
        style.
            .pre-load-image {
                position: absolute;
                background-size: cover;
                background-position: right 60%;
                width: 100%; 
                height: 100%;  
                opacity: 1; 
                z-index: -1;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221241%22%20height%3D%22819%22%20viewBox%3D%220%200%201241%20819%22%3E%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeGaussianBlur%20stdDeviation%3D%223%203%22%20edgeMode%3D%22duplicate%22%20%2F%3E%3CfeComponentTransfer%3E%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20%2F%3E%3C%2FfeComponentTransfer%3E%3C%2Ffilter%3E%3Cimage%20filter%3D%22url%28%23blur%29%22%20xlink%3Ahref%3D%22data%3Aimage%2Fjpeg%3Bbase64%2C%2F9j%2F4AAQSkZJRgABAQAAAQABAAD%2F2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a%0AHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL%2F2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy%0AMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL%2FwAARCADNATcDASIA%0AAhEBAxEB%2F8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL%2F8QAtRAAAgEDAwIEAwUFBAQA%0AAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3%0AODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm%0Ap6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4%2BTl5ufo6erx8vP09fb3%2BPn6%2F8QAHwEA%0AAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL%2F8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx%0ABhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK%0AU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3%0AuLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3%2BPn6%2F9oADAMBAAIRAxEAPwD1YHNP%0AFMxTxXjHphT16UylHWgB9FFFABSg4puKXFADs0hoxQRxQBGTzTs8VGwwacpyKAA0Yp2BikoAbiil%0ANJTQhMc0uaKa3FMBS1KDUfOaXNFgHseKZ3ooosJsM0UYpQKYmGaSnEU2gAxTe9SU3FACAYo6UtMp%0AoQpNNJoJxTM0wArmk208GmsaAIzSCnDk07AoARadTRwaUkYoENNFNJop3AvYpRSZFANYmotOA5pt%0APFAC04Cm0oNAAaUU09aUUAOzSUU0mgBHGaaBin9aD0oAaTQKQiigBSabRiigAzSdaWkzimICtNxz%0ATs0uRigCM05KRutGaaAc1NB5ozRTJY7NJSUuKAA03dQ1AWgQmabT8CkNNAMIpp4pxNJjNMBu6mk0%0A8rTDQAUZNJg0ooEGCaaQalHSmnrQBHiinGimBcKUmMVITSGsTUBUlRipKACloFBoASnAUgp2aAEq%0ANwalpp5oAiBNSCm7cUHigAJpM0UGgApO9FFMAIqM5qTNKFzTERinAVKI6awxSuFiMikqUAd6jYUX%0ACw0ctUnampTzRcBlKDTWNJupisONJTC1G6mIUnmmk4pCTTSaYCE804NSdqQZFMQ4nio85NOJJoxQ%0AAoAxRgCjmgjIoAMimNyaXbS7aBDKKQmigC%2BQaYc5qbrRtzWRqRKealHSk8vmnYxQAooNJS0AIKdT%0AeacKAENGKU02gBcUxxUgoI4oAhBp2M03HNOBxQAYxTTSk5pTjFAEZGakQ4ptGcUAWM01sVGHpC2a%0AYgYimmkY03OTQAo604tSCg9KdhDaMUAU7FMLkZWk2049aUCgBhFNxUp6U0imIjopTRQIaaTJFPIq%0AM0wF3Um4mmkGlFMQ8UE0o6Uw9aQDSKKU0UAaJpQ1OC0bAaxuagGFBINNMfvTdrA0XAeBk07FIpp1%0AMAxSYpc0UANIphBHSpDSYoAYGI60F88U4rShaAGAU7ApdtIVIoQg20hSgSLu25G70p%2FWmFyHaaaw%0AqximlM0hkAyKdipdgphGDQBEwNJ0qWmMPSncQi8mnnpTUp5ouBH0pwPFNY0m8AVSExTRmmbxSFqd%0AhDieaaTimk0hNMBDzTgaZml6UCHMaj6mlJzSgUALgYowBRzQRkUAGRimHml25NPCUBYhxRUpSii4%0AWNDNKDVYs1AdhWRoWqQioVmPepBJmiwDsUEUbhWbqGu2GnLmaYFuyJyaaTbsiW0tzQPHNG%2FiuUPj%0AD7QCLeALjrvOac3ikwxAvCrMegBxVulIn2iOo8zNPDDFeban4ov52Hkv5KZxhea0bDxLNHYgunmO%0AByScZp%2BzaQuc7V5AtNWYHrXLabrl%2FeyN5kUQQdwDXQx5KBqTg1uPnT2JpbkQxs5BIUZOK5i98awe%0AUxhOwAdT1rX1LUYbSzlZjlgp4rw2%2BvZWmMLcDJ4Fa06ae5nOTOp03xRMPFsV3JM%2F2dpCjLnIweK9%0AfhljuIVljYMrDIIr50tcpKgY4JfIr1rwFqBkilsmYttAdc9ux%2FpVVad1ddBU5WdmdnS4pSQOtJXK%0AdCYlNYU7NJSGQsaaamZB1qEigBOnNG7NLwKq397Dp9nJcykBUGfqewqkrkt2JLieK3jLysFHvXmH%0AivxTfPf%2BXayNHbKOFHG73NaM%2BvHUJC8u7BPA7AVSvNOi1CEMgG7H9DXRCHLuYSnfY0PCHiQyI0V%2F%0ANjP3WY8CuoOuaaLtLX7ZEZnOFUNnNeWG3aIlB8uKzL6GW2mju0kO4MK0dNSZKm0e8EcVla3rNto1%0Ak887cgHag6muP%2F4T%2B9%2FsYf6OguNmDJ%2FXFeb634hvtTd0kdmLdSTURpXepbqaaHU6d8Sb251CSTCi%0APdjb7V6rpmow6np8V1EwIYcj0PcV816bbSxTsD0POa1dS12%2B0e0UW00ihzg7WIrSVNPYzjNo9zm8%0ATaRBcm3kvohIDgjPQ1bttWsbptsN1E56YDc18xjVbyTDuGUHnNdHpWqyy4CB946MD0pOiV7U%2Bht1%0AABNeaeGvGs9tcpYagJJUPIc8lR%2FWuwn8XadCUC75N3XAxisJQaNFNM3wuKdUcM0c8KSxtuRxkGie%0AdLeB5ZDhUGSays2zW6sZ2sXxtUSNHCu%2FOc8gUV5r4h8QXF3qJkRmx2A5wOworqhTsjmlPU9BuvE8%0AcG0BASTxk1saffQ31usiMMnqO4rmJtH%2BzL5typCqM1lpdzQXCTWwZI88N2apdNNaDU31PRiAOao3%0Ams2VopWS4QOP4QcmspNelu1WCNRvbg7ayda0v7MEmLEs7fmamFLuOVS%2Bwl1%2FaGsSSTedJ9nDfKis%0Acce1UWszIDGAxb3rrdFsmishv6HnBqOe3IkcxxqWzxxW2myM9ThbfzbSZ1lQirkStfMAgz6V1S%2BH%0AGdGmdQZW52k1NoejLYTyvJFhicqD2puSsCTOTn8PXwVW8ohNwJPtU7aY9vYFw%2FIxlR9a9FIBGCOK%0A5fXNGutssltKPIPzGPuPpWcXdlNWKOgCSYtGhXIbkGurhEyjymX6EGvHItX1PS%2FEsMtlG0y7wJIw%0AfvL3H%2F169qEgWLze23dTqImLOQ8VafdGRpVOUZema4NtEnlvPNkiY7egC5r1J9UjvrsQtHx0A61s%0Aw2VsFBWGPP8AuildxRduY8Ov9FuuJY4nUrzytN0XxJceH9UjuCpfAxIhPUd691mtIpY2RkUqwwQR%0A1ry%2FxD8PzHqElzCxaFzlR6exq4VE9GKUbamd40%2BId9qNpAmlxT20IYM7Ancx9OO3867Dwz46tJdB%0Atm1OUxTrGAzspw2OM1j6fo9v9gFtcRDIGKw9Q8N3YQpBh1zwB1pSjFqwJtO569Y6pZ6nD51ncJMn%0Acqen1HarHmYrzXw9pWraPbedawTbyMsp6N%2BFdrpurLfRhZYmguBw0bjHPtXPOnbVGsZ33NQuTTaB%0AimyKzRsFOCRwahRuW2cR4n1%2BUXjW0ExSOM4O043NWA0l9qUYFxcu8a4IDNmjVPDurLcMZImYbsls%0A5zVW2ne3by3yBwMHtXXGKS0OaTb3NK1sww2KBkAVoiJbOyVmPTrUWhQSX19sj7KSSelW9ZsLmNhC%0AVJHUFRnNO2thX0OVuX4eUjCgH%2BVSaZoVzr13HGuFts5eQjIAqa%2B0%2B7t7dlmt3AI6la77wzBHFo0B%0AjUDI5OOpqpaLQS1Zl634OshpBFjGyyxrzk53jvn378V47qWgXcFziOGQj0AzX0kBxzXJ%2BIPs6akF%0AWNdxTLcd%2BaiM2W43PFbeJkyGUhvQir01nDc222VQfrXVX2iG%2BvmaMKgx1rmtesJrICINn5u1aKVy%0AHGxSj8MXF3FugjJUegrtfC3hOO1iBmTMjGul8EJa3%2BgR8DzEADgdjitiW2FnISOfTNJzDlMjUfD1%0AjalZFiXzCOveuJ8QhoVC27YYP%2BldXf6v5120GcnBGc9K47Uo5PtL7znLEihIGdF4Q8XvHafYrgB5%0AE6AnFdDcve63ayKAFix0BwK8jljkgvY5Eypz2r1PQ9W26QWZcllyT6HHNRKCWqKjJtWOLubYQzSR%0AMMkHHP1oq3fFbu7ZogW9x3oqyT2Ga3S4iKOODXMaykEMTQYBk6ACt7UryWxsjJFA0zDjAP61h6Zp%0Atxc3P2y%2FGGY7tlZw0RTG%2BHtFeCUXMoOT0zXRzWMNwUMqk7Tkc05SMhV%2FSidpAuMgA9TSbdwsjL1v%0AUYtNiRFb5ycYFXLREe3R9p3HnJrOawtr3V42dvM8pd2M8Zz3rVnaWPYIUDZ6%2B1PQNSyOlGKapY%2Fe%0AFOzWZogqKdPMgdM%2FeUipaQjIoBnA%2BE9M8nWdQ%2B2xfOjBUZhwevTNbeu3FwDHBBMEiI%2BYAc1o3GnS%0AOS0UgDe4qJNJdlPnyhj%2FALK1rzJ7mdmjn7CP7JqEcrykr0Oe1dlC%2BVBU8Vjf8I6DLlrhinpt5rZi%0AiWGMIvQVEmnsXFtE3mGo5kWaPawyKNwPPalJGKhJoptMy%2F7IgNwHIOAc7avm0gLA%2BUuR04pSQO9S%0AKeKLt7g4pbC7QBwOKrz2kU3LDB9RU7MFUsxAA6msXUdeigRlhIZ%2Bx7VSTuS2WXkg0%2F5pZgqnu7Yp%0Aqa5ZOeHJX%2B8BkVwOo%2BffTl2YsTzkmkszcCMwoCcdqvlTJ5mjvpNa0t3MJu4jIf4Ceaovo2n3Mvnt%0ACjNXkM880HiJ4ZS27zf58j%2BddvFrc9rZht7YUdjT5LbC5r7neafp8NmrGKJU3dcCrTKpYEjkVwcX%0AjGZYN0bFuONwre0DxF%2FbAZJFCSD04zU8r3Hc3nSORdrqrDuCM0yJEj%2BSNQq9cAYrO1aO9bb9mY7f%0A4tvWrFlIywZkzxwSaVtALtY%2Bq6OLqT7RGf3gHI9a0Df2%2BM76xdQ8TxQsYoFLP60K4zHMLQSsD%2BNY%0AGtaQ97N5rMRH2wPauhlmed87cE1pf2JNc2SgOoJ5watO2pLRh%2BDQNOvTFn5ZPlI%2FlXc3lol5CUJK%0Answ7VzsXhqWBg%2B8F%2FaugjuHjRVmRtwHLAZFTLuhrzORbwncQahv3eZG2cEdRXP8AiXTpbO4GEY%2Bv%0Af0r1MTxt0YfnVPVIrSezdLnZjHBPUH2pqbvZicUeLmF5nBwc%2FSvQdG02O50sWpYozfLkfSsmaGBM%0AuQuBzmtnw87Ndw4z5bjcD%2BFW3oTFG%2Fo3hqw0pDhTLIwG55Ofy9KK1QaKjnL5Sxx3FRTt%2B5YIuXxx%0AUlGKjmKauZNldPFMYp0ZXJxWnKgmiZD0IpxRSQSASOlL0ptisZlnpTWt203mkgjGK06KXFJ6jtYK%0ATvTWbaM9qZI26M7Tz2NFgbJKWqL6gI2VTFIzE4%2BUZxVtG3qGwRnsaXKwuh1JVeS8SOUowPHpTG1C%0ABeSSBT5WF0W6jmlSKJnkYKo6k1lah4ghtLd5EGcDq3SudfxLFqMLGedVAOQg%2FwA801BslyOut7%2B2%0Am%2BVZVJ9M1UvZJbWQGJvkbnHpXCyaoJJR5ZIAPBHBrZh1WS5URxgu3pjJrTlJudCtxCIt88oAxzk1%0AnnX%2FALLMVjVp4s8Y61Xk0e%2Fvtm4rGo%2FvGtzTNLgsYxkB5e7kfyo5bD5iu1xd6qiotu0MJ5YueT%2BF%0ANl8N28w%2BaSTPrW2SBUbSHOFFTr0Hp1MWLwxbxtlpXb2xircWi28JJUcn2rRBBFIZF3YzRaQXRx2s%0AeBo7%2FVI7%2BN1V1HIx19Kqah4fuYrZkWBm46rzXfZFMZlH3iBVq5LsjzvStDnRD5ls3XuK6my0FYVW%0ASNvKfr8vrVq9v4U%2BRGGe5qpaas4vVR2zCTjp0quVvVE8yOgQcDJyaq3l3HbkRuCA%2FAOOKsggjINJ%0AIkc0ZWRQw96hU9R85jtbxu2V4z6VRfRLdJvMZTuPPNZd7qdzp15JDhiA2AcVWvPEVxJHndtx3p%2Bz%0AkPnRpXcaW5DK34V0WjXQutPRgQSvynFcJHO90m5nJyOtdP4Xbyg8PYjP403Tuhc6ub9xMIUyarRX%0AsU8nlp8x74FXJY1dCGGQajgt4rdcRqBS5LD5ireaYtzGxjdo5McEHjNcxPoWrGTDEyKe%2B%2Bu1yaSm%0AlYHI5%2Bx8MWXkj7XBvk92P9K07fSYLWUNEoVVGFHpV0CqOp6l%2FZ0aSFdwJxjNJxbC6RbkjcrhXxRV%0AYapbS2YnST5T27iihQYcxp719aN4qncTeQANpLHtTftIVcspH4U%2FYsXtC9vFNaUAVWaZEQOxwDUB%0AuoEAldupxVKiJ1S2C5%2Bbd%2BFUZNXeO6NuUG4DNMutZtbaIvv3HsBXIS6pNcar9pQZycEdselX7FEe%0A0Z6Ck3nRAgYJFIQI15PFc3Bf3shULCwT1HSoL3VJnfyMfXmmqVhe0Z0R1KziJDSoD35qjJ4ltkfC%0AkFfUmuUvEuWwyBth9BRb6BNfxlsMDjg0%2FZIPaF2%2B8SC6vhFBk5PJFW4LWa5GMMQetQaZ4RMEwlnk%0AHHQDmurijSBAiDAFNU0T7Q5i88OSXMe1Qw%2BtZsHgS4UHdcxj2ArvMijNVyIXMcVa%2BDWW4Cz3Py5%2F%0AgHUfjXW2Wn2thD5dvEFHc9SfqakKAvuzUg4pcgc4uQKXNN70hNHIHOHIOc07NQSvINvl7evO70p4%0AfNHsxc48viqb3aJKQ2eOpqprOoCxgDsxUE4yKg0WdL%2BB5C275uKFTQ3M1o7lZc%2BWc1g6neXUNwEk%0AfBPTb0rXCLDcAIACwzisvV9OuLqZZYxuIPQcVSgkLmuURK0mSTnNUNQvGgZVXr1rastHuM5nIRfT%0AOTWZ4l002iJcrlox8pPp6f1p2FzDtJ1eeaeOBpWG5sYzW4Z57WYncSmM5rjNLCzzK0OTIpyAK6m4%0AN20JWRCCQRkUKINianFFdWzycFgNwNcfdQtIWQDvXVwWVxND5Y%2B7jkmnxaNBCxeb5m%2FSnyi5jJ0z%0ATpWhVFHGOprqNPtPsrA78nFRCWOIYRRgdhTGuHJyOKpUyXM2JbgqoLNgU1b%2BHoZBWM8jyfeYmmYp%0A%2ByTWovatbG%2F9tgxnzBTf7Qtif9YPyNYdFR9XiV7eRvm8gAz5i%2FnWZqskV3B5WQ3Oap0U1RihOs2c%0AdqEN9DKYkWTZnggHBorryoNFV7FD9sdDdyIqGSQgAd65zUPEUKYSH8yKv%2BIL%2BK208qcs7nCqvJrm%0ALfwvfapi5klWBDyqkZOKzHc2xqIuLcOzAcdM1mXF1Jct5aSHj0qdvC1wYfIFw23HUcVNZ%2BGGs4li%0AQk46sxoGY7aTL5v7yXOeQOtOhY2swRYyz5wAozmuxttJhiw0v7x%2FfoKurFHH9xFX6DFOwrmZp8dx%0ALGGmj8oeh6%2FlVx7C2kcSPCrOO5FWKKdibjBDGF2iNQPTFOwB06UtNNMALYpNxNGKKLCELU5WyKYa%0ATmiwDycHilDcVBghicnntmnbqLDuR3L3AKGFQwz8wzipwxIpgcHjPNBYDqcUWFcf2pBkGmecg6sK%0ATz4yeHX86dgRkeJLOS%2FtIoIlJLSA5HarGjaWulWvlhizNySautNGGC7hk9qk3UrDuMk2hw2MvjAp%0AEkb%2BNcChxlgadniiwXKd1qsVvkLHJKR12LwKfDNBqdlkoGjcYZGFSqiBycDJoLxxZ6AdeKLAZ9ho%0Adtp1y8kChVYcD0rQkZFU7sYqrPe8EJwPU1jXGtWMRbzryPK9Ruyf0qku5LZsG9CcIoqB5GkOWP4V%0AzT%2BLLZ5hDZWtxdSE4ARcZ%2Bnf9K6HTor%2B9txJJYy25P8ADJwafPBbMTjN9BaCcU288M63eyYh1OOz%0Ahxg7ItzH8T0%2FCrWneDVtJPMudVvbpuOHcBfyxUuqilSfUrZrB1bxVa6Xcm38p5ZVxuC8AfjXoa6X%0AaoMCMfiagl8PaVPJ5k1jC74xllzUyq6e6VGlr7xwln4u026ABMkT%2FwB1l%2FrVttctUGSku31CcV2E%0Afh3SYZBJHp9urjowjGat%2FYLfGPKX8qn2kivZROLXVLRlyJDj%2FdP%2BFPW%2Bt3OBIAfcEV2S2Vuo4iT%2F%0AAL5FKbO3YYaGMj0Kin7Vi9jE5MMGGQciiuq%2BwW3aFB9BRVe2XYXsikttCGDNGrEdCwzip80yiixN%0Ax2aAaSimFx2aTNJRmgLi5pM0majaaNTywoAlzTSaia6jHcn8Kia9A6KaaTC6LdNzVFr1z0AFQvcO%0A%2FVjT5WTzIvvcRpwW59BUZu4%2Fes%2FdSbqrkE5GiLmM%2FwAQoe4jRCdwJ9AazM0UcqQcwryM8hcsc9va%0Ak3serH86SijQm7FLMepNJRRTAOhyOoqyl7IOGAPvVaikFy59t%2F2P1pDfY%2Fg%2FWs64u7e1TfPMka%2F7%0ARxn6etYdzqOs6qwi8P6fLIh4%2B0MmFP0J4H41LcY7lxUpbHTSXTucg7fpUYfceTk1lad4D1m7%2BfW9%0AYkRG5MMDEnHoT0H5Guy0vQNP0iBYraInH8UjFiT68%2F0qPbLojT2T6s5TVtH1jVoBaWCCOKT%2FAFkz%0AnaMeg%2F8ArVNpXw1sLVVa%2Fme6k7qp2p%2FifzFdzjFFZSfM7s0iuVWRTstLstPi8u0tooV7hFAz9fWr%0AYAFLRSKCiig8UAFITRmkoAXNGaSigBc0hNJRQAZNFBooAz80bhVBppCPvVGWJ6kmunlOa5omVB1Y%0AfnTTPGB94Vnk0Zo5RXLhuwOimoWunJ9KgzRVWFckaV2HLGo6KQ0xMXNMNOptADTTTT6Q1SExmKKd%0ASUEsbRS0lACZozRUkMYlkCk4FLRDV2Rg0qgscAEmtePT4AMlSx9zV63hjQ%2FKij6CsnVXRGqpPqYs%0Aem3UvSMgercU5%2FDEtxKrTahLHGOscOBk%2FwC8R%2BldJRWUqkmbKnFGfb6Jp9uBi2R2GDuk%2Bc59ea0O%0AnSiioLCilpKACiiloASiiigApuaKUUwEooPWigAopDSZoAWijNJQAUUUUAf%2F2Q%3D%3D%0A%22%20x%3D%220%22%20y%3D%220%22%20height%3D%22100%25%22%20width%3D%22100%25%22%2F%3E%3C%2Fsvg%3E");
            }

    body
        .pre-load-image
        header
            h1.title FINDING THE LINE
            .bar
            h2.featuring FEATURING ANNA + NAT SEGAL
            h2.directed DIRECTED BY BJARNE SALEN
        
        .more-info(id="more-info")
            a(href="{{url_for('contact')}}") 
                |MORE INFO
                img(src="{{url_for('static',filename='img/more-info-arrow.gif')}}")
        .test-box
        script.
            // when bg image loaded, swap out full image
            window.onload = function loadSharpImages() {
                // Quit early if older browser (e.g. IE 8).
                if (!('addEventListener' in window)) return
                var preLoadBackground = document.querySelector(".pre-load-image")
                var backgroundSourceFile = "{{url_for('static',filename='img/landing-page-background.jpg')}}"
                var backgroundImage = new Image();
                backgroundImage.src = backgroundSourceFile
                backgroundImage.onload = function() {
                    function fadeOut(i) {
                        preLoadBackground.style.opacity = 1 - 0.01*i
                        if (i >= 100) return
                        setTimeout(function(){fadeOut(i+1)},1)
                    }
                    fadeOut(0)
                }
            };

            function showFonts() {
              var moreInfoBox = document.getElementsByClassName("more-info")[0]
              header.style.opacity = 1
              moreInfoBox.style.opacity = 1
            }
            document.fonts.ready.then(showFonts);
            setTimeout(showFonts,10000) // just in case something goes really wrong

        script(src="{{url_for('static',filename='js/landing.js')}}")
       