doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		//- meta(name = "viewport" content = "initial-scale=1") 
		meta(name = "viewport" content = "width=device-width,initial-scale=1") 
		meta(property="og:image" content="http://www.findingthelinefilm.com//static/img/thumbnail-image.jpg")

		link(rel="stylesheet", type='text/css', 
			href="https://fonts.googleapis.com/css?family=Roboto:400,700")
		link(rel="stylesheet", type='text/css', 
			href="https://fonts.googleapis.com/css?family=Economica:400,700")

		link(rel="stylesheet", type='text/css', 
			href="{{url_for('static',filename='css/reset.css')}}")
		link(rel="stylesheet", type='text/css', 
			href="{{url_for('static',filename='css/landing.css')}}")
		title Finding the Line

	body
		header
			h1.title FINDING THE LINE
			.bar
			h2.featuring FEATURING ANNA + NAT SEGAL
			h2.directed DIRECTED BY BJARNE SALEN
		
		.more-info(id="more-info")
			a(href="{{url_for('contact')}}") 
				|MORE INFO
				img(src="{{url_for('static',filename='img/more-info-arrow.gif')}}")
		.test-box

	script(src="{{url_for('static',filename='js/landing.js')}}")
		
