{% extends "_layout.html" %}

{% block head %}
link(rel="stylesheet", type='text/css', href="{{url_for('static',filename='css/landing.css')}}")
{% endblock %}

{% block body %}
.panel#home
    {% include "_navbar.html" %}
            
    .title
        h1 FINDING THE LINE
        .bar
.panel#about
.panel#press
{% endblock %}

{% block scripts %}
{% include "_navbar_js.html" %}
{% endblock %}