@font-face {
  font-family: 'White Elephant';
  src: url("../fonts/white-elephant.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  background-size: cover;
  background-position: right 60%;
  background-image: url("../img/contact-page-background.jpg");
  font-size: 10px; }

@media (max-height: 890px), (max-width: 1200px) {
  body {
    font-size: 8px; } }

@media (max-width: 1000px) {
  body {
    font-size: 7px; } }

@media (max-height: 775px), (max-width: 800px) {
  body {
    font-size: 6px; } }

@media (max-width: 750px) {
  header {
    position: inherit;
    margin: 12em auto 0 auto; } }

@media (max-width: 550px) {
  body {
    font-size: 6px; } }

@media (max-height: 665px), (max-width: 475px) {
  body {
    font-size: 4px; } }
