@font-face
    font-family: 'White Elephant'
    src: url('../fonts/white-elephant.eot')
    src: url('../fonts/white-elephant.eot?#iefix') format('embedded-opentype'), url('../fonts/white-elephant.ttf') format('truetype')
    font-weight: normal
    font-style: normal

$title-font: normal normal 400 1em 'White Elephant',sans-serif
$navbar-font: normal normal 400 1em "Trebuchet MS", Helvetica, sans-serif
$reading-font: normal normal 400 1em Arial, Helvetica, sans-serif

$home-background: url("../img/snow_and_sky.jpg")
$drop-in-background: url("../img/dropping_in.jpg")
$footer-background: url("../img/hiking_silhouette.jpg")

// TO BE DECIDED
$press-background: url("../img/snow_and_sky.jpg")
$crew-background: url("../img/snow_and_sky.jpg")
$gallery-background: url("../img/snow_and_sky.jpg")
$partners-background: url("../img/snow_and_sky.jpg")

$title-color: #fff
$dark-title-color: #000
$grey-background-color: #eee

// media query
$tablet: "(max-width: 800px)"
$phone: "(max-width: 500px)"
$tiny-phone: "(max-width: 325px)"