@import _theme

$title-color: #000

#navbar 
	ul
		li,a 
			color: $title-color

.title
    color: $title-color
    .bar
    	background-color: $title-color


#hero-panel
    height: 100vh
    background-image: $gallery-background
    padding: 50px 0 0 0
    background-size: cover
    back

.title
    .bar
        width: 16em