$background-image-template: url("../img/LANDING-PAGE.jpg")
$background-image: url("../img/landing-page-cutout.jpg")

html
	height: 100%

body
	min-height: 570px
	min-width: 800px
	background-size: cover
	background-position: right
	background-image: $background-image
	font-size: 10px

*
	// outline: red 1px solid

header
	width: 80em
	position: absolute
	top: 120px
	top: 12em
	right: 100px
	font: normal normal 700 1em 'Economica',sans-serif
	text-align: center
	h1
		font-size: 11em
		// letter-spacing: -3px
	h2
		font-size: 4em
		// letter-spacing: -2px

	.title
		margin-bottom: 0.137em

	.bar
		width: 80%
		height: 1px
		margin: 0 auto 4em auto
		background-color: #000

	.featuring, .directed
		display: inline-block
	.featuring+.directed
		margin-left: 0.8em

@media(max-height: 850px)
	body
		font-size: 8px

@media(max-height: 700px)
	body
		font-size: 6px

@media(max-height: 570px)
	body
		font-size: 4px


@media(max-width: 800px)
	body
		background-position: left
	header
		position: relative
		left: 320px