<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700"><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Economica:400,700"><link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/reset.css')}}"><link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/landing.css')}}"><title>Finding the Line</title></head><body><header><h1 class="title">FINDING THE LINE</h1><div class="bar"></div><h2 class="featuring">FEATURING ANNA + NAT SEGAL</h2><h2 class="directed">DIRECTED BY BJARNE SALEN</h2></header><div id="more-info" class="more-info"><a href="{{url_for('contact')}}"> 
MORE INFO<img src="{{url_for('static',filename='img/more-info-arrow.gif')}}"></a></div><div class="test-box"></div></body><script>// this comment hopefully gets rid of jade being weird
var header = document.getElementsByTagName('header')[0]
var body = document.getElementsByTagName('body')[0]
var contactLink = document.getElementsByClassName('more-info')[0] 
var styles, height, width, aspectRatio, vertCrop, botCrop, trueHeight, boxHeight, skiHeight, topCollision
var trueAspectRatio = 1.5

responsiveLayout()
window.onresize = responsiveLayout

setTimeout(function() {
	header.style.opacity = 1
},400)		


function responsiveLayout() {
	styles = window.getComputedStyle(body)
	width = window.innerWidth
	height = window.innerHeight
	aspectRatio = width/height
	vertCrop = aspectRatio > trueAspectRatio
	horzCrop = aspectRatio < trueAspectRatio
	
	trueHeight = vertCrop ? width / trueAspectRatio : height
	botCrop = vertCrop ? (trueHeight - height) * 0.4 : 0
	skiHeight = trueHeight * 0.15 - botCrop
	if (skiHeight < 50) {
		contactLink.className = "more-info top-left"
		body.style.backgroundPosition = "right 20%"
	} else {
		contactLink.className = "more-info"
		body.style.backgroundPosition = "right 60%"
	}
}</script></html>